@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  margin: 0;
  background-color: #0a0f14;
  color: white;
  font-family: 'Inter', sans-serif;
}

.text-accent {
  color: #00d8ff;
}

.bg-accent {
  background-color: #00d8ff;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: #00d8ff;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}
